#exif {
	display: none;
	overflow: auto; 
	position: fixed;
	top: 150px;
	left: 20px;
	width: 280px;
	height: 400px;
}

#exif::-webkit-scrollbar {
    display: none;
}

#exif table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
} 

#exif table td, #exif table th { 
	padding: 10px 10px; 
}

#exif table tbody td { 
	border-left: none;
	font-size: 13px;
	border-bottom: none;
}

#exif table tbody td:first-child { 
	border-left: none; 
}

#exif table tbody tr:last-child td { 
	border-bottom: none; 
}
